//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #ee1b22;
$secondary: #007ec4;
$success:#00b9ef;
$accent: #6ac4a0;
$dark: #1F1F1F;
$light: #DDDDDD;
$white: #FFFFFF;
$black: #000000;
